sheep-api/integrations/n8n-examples/sheep-tips.json
{
  "name": "Sheep Tips",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 13 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [320, 32],
      "id": "trigger-daily-tip",
      "name": "Daily 10:00 BRT"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sheep.byfranke.com/api/ai/ask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "X-Sheep-Token", "value": "INSERIR_SEU_TOKEN_AQUI" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "question",
              "value": "=Atue como Especialista em Cibersegurança. Gere a dica do dia em portugues, baseada no dia da semana atual: {{$now.format('dddd')}}. Mapeamento: Monday=Engenharia Social e Phishing; Tuesday=Vulnerabilidades Zero-Day e Patch; Wednesday=Seguranca em Cloud; Thursday=TTPs de APTs; Friday=Autenticacao e MFA; Saturday=Threat Intelligence e IoCs; Sunday=Mobile e Wi-Fi.\n\nRegras: sem emojis, tom profissional, sem saudacoes. Inicie diretamente com 'Dica de Ciberseguranca do Dia:'.\n\nFormato exato:\n### Dica de Ciberseguranca do Dia: [Titulo]\n**O Conceito:** [2-3 frases]\n**Radar de Threat Intelligence:** [contexto atual]\nAcao Pratica:\n1. [Passo 1]\n2. [Passo 2]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [608, 32],
      "id": "sheep-api-call",
      "name": "Sheep AI API"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "INSERIR_GUILD_ID",
          "mode": "list"
        },
        "channelId": {
          "__rl": true,
          "value": "INSERIR_CHANNEL_ID",
          "mode": "list"
        },
        "content": "={{ $json.response }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [896, 32],
      "id": "discord-post",
      "name": "Sheep Chat"
    }
  ],
  "connections": {
    "Daily 10:00 BRT": {
      "main": [[{ "node": "Sheep AI API", "type": "main", "index": 0 }]]
    },
    "Sheep AI API": {
      "main": [[{ "node": "Sheep Chat", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "",
  "meta": { "templateCredsSetupCompleted": false }
}
